.save-outfit-card .bi-heart {
    display: initial;
}

.save-outfit-card .bi-heart-fill {
    display: none;
}

.save-outfit-card:hover .bi-heart {
    display: none;
}

.save-outfit-card:hover .bi-heart-fill {
    display: initial;
}

.save-outfit-card:hover .outfit-card {
    transform: scale(1.1);
}

.save-outfit-icon {
    position: absolute;
    z-index: 2;
}

.save-outfit-icon {
    color: tomato;
    font-size: xx-large;
}

.save-outfit-icon i:hover {
    color: tomato;
    font-size: xx-large;
}

.edit-outfit-icon {
    font-size: xx-large;
    transition: all 2s; 
    transform-origin: center center!important;
    transform-style: preserve-3d;
}

.edit-outfit-icon:hover {
    transform-style: preserve-3d;
    transform: rotate(360deg) ;
}

.edit-outfit-icon {
    line-height: 10px!important;
}