html {
  background-color: #f1f1f1;
}

body {
  /* padding: 40px; */
}

/* h1 {
  font-size: 1.5rem;
} */

#form-page {
  text-align: left;
}

input[type="submit"], button, a, a > * {
  cursor: pointer;
}

label {
  /* display: block; */
  margin-top: 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-size: .9rem;
}

input, select {
  padding: 10px 15px;
}

/* .btn {
  border: 1px solid black;
  padding: 10px 20px;
  margin-top: 30px;
}

.btn-primary {

} */

.occasions-list-item + .occasions-list-item::before {
  content: ' | ';
}

.selected {
  background-color: #333;
  color: white;
}

#random-generator-form p {
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  margin: 10px;
  padding: 6px 22px 8px 22px;
}


/* VIEW OUTFIT PAGE */

#view-outfit-page {
  margin: auto;
  position: relative;
  height: 70vh;
  /* overflow: hidden; */
  /* background-color: red; */
}

#view-outfit-page .item {
  position: relative;
  cursor: crosshair;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: multiply;
}
#view-outfit-page .item img {
  width: 100%;
  height: auto;
}

#view-outfit-page > div:hover {
  /* mix-blend-mode: normal; */
}

#view-outfit-page .tops {
  /* z-index: 3; */
  /* left: 0; */
  /* width: 40%; */
  /* height: 400px;
  width: 500px; */
}

#view-outfit-page .bottoms {
  /* width: 60%; */
  /* z-index: 1; */
  /* top: 20%;
  left: 60%; */
  /* height: 650px;
  width: 400px; */
}

#view-outfit-page .footwear {
  /* z-index: 2; */
  /* left: 15%;
  bottom: 0; */
  /* height: 300px;
  width: 300px; */
}

#view-outfit-page .one-pieces {
    /* left: 10%;
    top: 10%; */
  /* width: 80%;
  z-index: 1; */
}

#view-outfit-page .item-infos {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
}

#view-outfit-page .item:hover .item-infos {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#view-outfit-page .item-infos button {
  width: fit-content;
  margin: 0 auto;
}