@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

h1 {
  font-family: 'Quicksand', serif;
  font-weight: 300;
  font-weight: light!important;
}

/*** NAVBAR ***/

.navbar-avatar {
  width: 40px;
  height: 40px;
  border-radius: 2px;
}

/*** HOMEPAGE ***/

#banner {
  background-image: url('./assets/main-banner.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0;
}

.required {
  color: #dc3545;
  font-size: .7rem;
  text-transform: capitalize;
  margin-left: 5px;
}

label {
  display: inline-flex;
  align-items: center;
}

/*** LOGIN PAGE ***/

#login-page {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*** DRESSING ***/

.card {
  border: 0;
}

.occasions-tags {
  display: inline-block;
  background-color: aliceblue;
  font-weight: normal;
  text-transform: uppercase!important;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 5px 10px;
  border-radius: 5px;
}

.occasions-tags + .occasions-tags {
  margin-left: 8px;
}

/* .card img {
  mix-blend-mode: multiply;
} */

#form-page {
  text-align: left;
}

input[type="submit"], button, a, a > * {
  cursor: pointer;
}

label {
  margin-top: 20px;
  padding-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9rem;
}

input, select {
  padding: 10px 15px;
}

input[type="file"] {
  padding: 0;
}

/* VIEW OUTFIT PAGE */

#view-outfit-page {
  margin: auto;
  position: relative; 
}

#view-outfit-page .item {
  position: relative;
  cursor: crosshair;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  mix-blend-mode: multiply;
}
#view-outfit-page .item img {
  width: 100%;
  height: auto;
}

#view-outfit-page .item-infos {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .9);
}

#view-outfit-page .item:hover .item-infos {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#view-outfit-page .item-infos button {
  width: fit-content;
  margin: 0 auto;
}