html {
  background-color: #f1f1f1;
}

body {
  /* padding: 40px; */
}

/* h1 {
  font-size: 1.5rem;
} */

#form-page {
  text-align: left;
}

input[type="submit"], button, a, a > * {
  cursor: pointer;
}

label {
  /* display: block; */
  margin-top: 30px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-size: .9rem;
}

input, select {
  padding: 10px 15px;
}

/* .btn {
  border: 1px solid black;
  padding: 10px 20px;
  margin-top: 30px;
}

.btn-primary {

} */

.occasions-list-item + .occasions-list-item::before {
  content: ' | ';
}

.selected {
  background-color: #333;
  color: white;
}

#random-generator-form p {
  cursor: pointer;
  display: inline-block;
  border-radius: 50px;
  margin: 10px;
  padding: 6px 22px 8px 22px;
}

#outfit-preview {
  margin: auto;
  position: relative;
  max-width: 900px;
  height: 80vh;
  /* overflow: hidden; */
  /* background-color: red; */
}

#outfit-preview img {
  position: absolute;
  /* border-radius: 40px; */
  max-width: 100%;
  cursor: crosshair;
  /* mix-blend-mode: lighten; */
  mix-blend-mode: multiply;
}

#outfit-preview img:hover {
  mix-blend-mode: normal;
  /* z-index: 5!important; */
  /* box-shadow: rgba(0, 0, 0, .2) 0 0 10px; */
  /* border: 1px solid #666; */
  scale: 1.1;
}

#outfit-preview img.tops {
  z-index: 3;
  left: 5%;
  width: 40%;
}

#outfit-preview img.bottoms {
  width: 60%;
  z-index: 1;
  top: 20%;
  right: 5%;
}

#outfit-preview img.footwear {
  z-index: 2;
  left: 15%;
  width: 30%;
  height: auto;
  bottom: 5%;
}

#outfit-preview img.one-pieces {
  left: 10%;
  top: 10%;
  width: 80%;
  z-index: 1;
}